{% extends 'base.html.twig' %}

{% block title %} Compte {# User #} {% endblock %}

{% block body %}
    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        <a href="{{ path('main') }}"><i class="fa fa-home"></i> Home</a>
                        <a href="{{ path('account') }}">Compte</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Banner Section Begin -->
    <div class="banner-section spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-banner">
                        {#<img src="{{ asset('img/banner-1.jpg') }}" alt="">#}
                        <div class="inner-text">
                            <h4><a href="{{ path('edit_account') }}">Mon Compte</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        {#<img src="{{ asset('img/banner-2.jpg') }}" alt="">#}
                        <div class="inner-text">
                            <h4><a href="#">Droits Accès</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        {#<img src="{{ asset('img/banner-3.jpg') }}" alt="">#}
                        <div class="inner-text">
                            <h4><a href="#">Tableau de bord</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-section spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-banner">
                        {#<img src="{{ asset('img/banner-3.jpg') }}" alt="">#}
                        <div class="inner-text">
                            <h4><a href="{{ path('list_product') }}">Gestion Produit</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        {#<img src="{{ asset('img/banner-3.jpg') }}" alt="">#}
                        <div class="inner-text">
                            <h4><a href="{{ path('list_command') }}">Gestion Commande</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        {#<img src="{{ asset('img/banner-3.jpg') }}" alt="">#}
                        <div class="inner-text">
                            <h4><a href="{{ path('list_customer') }}">Gestion Client</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-section spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-banner">
                        {#<img src="{{ asset('img/banner-3.jpg') }}" alt="">#}
                        <div class="inner-text">
                            <h4><a href="#">FAQ</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        {#<img src="{{ asset('img/banner-3.jpg') }}" alt="">#}
                        <div class="inner-text">
                            <h4><a href="#">Assitance</a></h4>
                        </div>
                    </div>
                </div>
                {#<div class="col-lg-4">
                    <div class="single-banner">
                        <img src="{{ asset('img/banner-3.jpg') }}" alt="">
                        <div class="inner-text">
                            <h4>Gestion Client</h4>
                        </div>
                    </div>
                </div>#}
            </div>
        </div>
    </div>
    <!-- Banner Section End -->


{% endblock %}