{% extends 'base.html.twig' %}

{% block title %} Compte {# User #} {% endblock %}

{% block body %}

    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        <a href="{{ path('main') }}"><i class="fa fa-home"></i> Home</a>
                        <a href="{{ path('account') }}">Compte</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <h3>Bonjour {{ app.user.firstname }} {{ app.user.lastname }} !</h3>
                        {# {{ dump(app.user) }} #}
                        {% if app.user.roles[0] ==  'ROLE_ADMIN' %}
                            <p>Vous êtes connecter en tant qu'administrateur</p>
                        {% else %}
                            <p>Bienvenue sur notre site !</p>
                        {% endif %}
                    </div>
                    <div>
                        <a href="{{ path('logout') }}"><input type="button" class="btn btn-danger btn-xs"
                                value="Se Déconnecter" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

<!-- Admin Section Begin -->
    {% if app.user.roles[0] ==  'ROLE_ADMIN' %}
        <div class="admin">
    <div class="banner-section spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="img/TB_Gave_MonCompte.jpg" alt="">
                        <div class="inner-text">
                            <h4><a href="{{ path('edit_account') }}">Mon Compte</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="img/TB_Gave_DroitAcces.jpg" alt="">
                        <div class="inner-text">
                            <h4><a href="#">Droits Accès</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="img/TB_Gave_TB.jpg" alt="">
                        <div class="inner-text">
                            <h4><a href="#">Tableau de bord</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-section spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="img/TB_Gave_GestProduit.jpg" alt="">
                        <div class="inner-text">
                            <h4><a href="{{ path('book_index') }}">Gestion Produit</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="img/TB_Gave_GestCommande.jpg" alt="">
                        <div class="inner-text">
                            <h4><a href="{{ path('list_command') }}">Gestion Commande</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="img/TB_Gave_GestClient.jpg" alt="">
                        <div class="inner-text">
                            <h4><a href="{{ path('user_index') }}">Gestion Client</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-section spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="img/TB_Gave_FAQ.jpg" alt="">
                        <div class="inner-text">
                            <h4><a href="#">FAQ</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="img/TB_Gave_Assistance.jpg" alt="">
                        <div class="inner-text">
                            <h4><a href="#">Assitance</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Admin Section End -->
    
<!-- Client Section Begin -->
    {% else %}
        <div class="client">
        <div class="banner-section spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="img/TB_Gave_MonCompte.jpg" alt="">
                        <div class="inner-text">
                            <h4><a href="{{ path('edit_account') }}">Mon Compte</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="img/TB_Gave_Card.jpg" alt="">
                        <div class="inner-text">
                            <h4><a href="{{ path('credit_card_index') }}">Mes Moyens de Paiment</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="img/TB_Gave_Address.jpg" alt="">
                        <div class="inner-text">
                            <h4><a href="{{ path('address_index') }}">Mes Adresses</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-section spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="img/TB_Gave_GestCommande.jpg" alt="">
                        <div class="inner-text">
                            <h4><a href="{{ path('list_command') }}">Mes Commandes</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="img/TB_Gave_FAQ.jpg" alt="">
                        <div class="inner-text">
                            <h4><a href="#">FAQ</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="img/TB_Gave_Assistance.jpg" alt="">
                        <div class="inner-text">
                            <h4><a href="#">Assitance</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Client Section End -->

        </div>
    {% endif %}

{% endblock %}