{% extends 'base.html.twig' %}

{% block title %}CreditCard index{% endblock %}

{% block body %}
    <h2>Carte de Crédit</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Name</th>
                <th>ExpirationMonth</th>
                <th>ExpirationYear</th>
                <th>Cvv</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for credit_card in credit_cards %}
            <tr>
                <td>{{ credit_card.id }}</td>
                <td>{{ credit_card.number }}</td>
                <td>{{ credit_card.name }}</td>
                <td>{{ credit_card.expirationMonth }}</td>
                <td>{{ credit_card.expirationYear }}</td>
                <td>{{ credit_card.cvv }}</td>
                <td>
                    <a href="{{ path('credit_card_edit', {'id': credit_card.id}) }}">
                        <button class="btn btn-warning btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="fa fa-edit"></span></button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row" >
        <a href="{{ path('credit_card_new') }}" class="site-btn place-btn">Ajouter une carte de crédit</a>
    </div>

{% endblock %}
