{% extends 'base.html.twig' %}

{% block title %} Gave - Votre libraire en ligne {% endblock %}


{% block body %}
<!-- Hero Section Begin -->
<section class="hero-section">
    <div class="hero-items owl-carousel">
        <div class="single-hero-items set-bg" data-setbg="{{ asset('img/Banniere_Gave_1.jpg') }}">
        </div>
        <div class="single-hero-items set-bg" data-setbg="{{ asset('img/Banniere_Gave_2.jpg') }}">
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Women Banner Section Begin -->

    <!-- Banner Section Begin -->
    <div class="banner-section spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="img/BanEducatif.jpg" alt="">
                        <div class="inner-text">
                            <h4>Educatif</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="img/BanFantastique.jpg" alt="">
                        <div class="inner-text">
                            <h4>Fantastique</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="img/BanComics.jpg" alt="">
                        <div class="inner-text">
                            <h4>Comics</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Section End -->

    <!-- Women Banner Section Begin -->
    <section class="women-banner spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="product-large set-bg" data-setbg="img/products/bookLarge.jpg">
                        <h2>Nouveautés</h2>
                        <a href="#">Découvrir</a>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-1">
                    <div class="filter-control">
                        <h4>Nouveautés</h4>
                    </div>

                    <div class="product-slider owl-carousel">
                    {% for book in books %}

                        <div class="product-item">
                        <div class="pi-pic">
                            <img src="{{ book.cover }}" alt="">
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="{{ path('product',{id: book.id }) }}">+ Voir</a></li>
                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>

                        <div class="pi-text">
                            <div class="catagory-name">{{ book.author[0].label }}</div>
                            <a href="#">
                                <h5>{{ book.title }}</h5>
                            </a>
                            <div class="product-price">
                                {{ book.priceTTC }}€
                            </div>
                        </div>
                    </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Women Banner Section End -->

    <!-- Man Banner Section Begin -->
    <section class="man-banner spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="filter-control">
                        <h4>Meilleures Ventes</h4>
                    </div>
                    <div class="product-slider owl-carousel">
                        {% for book in books %}
                        <div class="product-item">
                        <div class="pi-pic">
                            <img src="{{ book.cover }}" alt="">
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="{{ path('product',{id: book.id }) }}">+ Voir</a></li>
                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">{{ book.author[0].label }}</div>
                            <a href="#">
                                <h5>{{ book.title }}</h5>
                            </a>
                            <div class="product-price">
                                {{ book.priceTTC }}€
                            </div>
                        </div>
                    </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="product-large set-bg m-large" data-setbg="img/products/bookLarge2.jpg">
                        <h2>Meilleures Ventes</h2>
                        <a href="#">Découvrir</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Man Banner Section End -->

{% endblock %}