{% extends 'base.html.twig' %}

{% block title %}Edit Book{% endblock %}

{% block body %}

    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        <a href="{{ path('main') }}"><i class="fa fa-home"></i> Home</a>
                        <a href="{{ path('book_index') }}">Livre</a>
                        <span>Edit livre</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->
    <section class="checkout-section spad">
        <div class="container">
            <div class="checkout-form">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Edit Livre</h2>
                        <br/>
                        <div class="col-lg-6">
                            {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
                        </div>
                        <div class="order-btn">
                            <button class="site-btn place-btn"><a href="{{ path('book_index') }}">back to list</a></button>
                        </div>
                        {{ include('book/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </section>


{#{{ include('book/_form.html.twig', {'button_label': 'Update'}) }}#}




{% endblock %}
