{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
{#     <h1>Book index</h1>
 #}
       <section class="checkout-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h4>Liste des Livres</h4>
                    <div class="table-responsive">
                        <div class="toolbar">
                            <a href="{{ path('book_new') }}" data-placement="top" data-toggle="tooltip" title="Ajouter"><button class="btn btn-success btn-xs" data-title="Ajouter" data-toggle="modal" data-target="#ajouter" ><span class="fa fa-plus-circle"></span>Ajouter des Livres</button></a></td>
                        </div>
                        <table id="mytable" class="display">
        <thead>
            <tr>
                {# <th>Id</th> #}
                {# <th>Cover</th>
                <th>BackCover</th> #}
                <th>Titre</th>
                <th>Date de Publication</th>
                <th>Nombres de Copies</th>
                <th>Price (HT)</th>
                <th>Price (TTC)</th>
                {# <th>DiscountAmount</th>
                <th>DiscountType</th> #}
                {# <th>Description</th> #}
                {# <th>NumberOfPages</th> #}
                {# <th>Ranking</th> #}
                <th>ISBN10</th>
                <th>ISBN13</th>
                {# <th>ASIN</th>
                <th>Dimention</th> #}
                {# <th>Weight</th> #}
                <th>Disponibilité</th>
                <th>Date d'ajout</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                {# <td>{{ book.id }}</td> #}
                {# <td>{{ book.cover }}</td>
                <td>{{ book.backCover }}</td> #}
                <td>{{ book.title }}</td>
                <td>{{ book.publishedDate ? book.publishedDate|date('d-m-Y') : '' }}</td>
                <td>{{ book.numberOfCopies }}</td>
                <td>{{ book.priceHT }}€</td>
                <td>{{ book.priceTTC }}€</td>
                {# <td>{{ book.discountAmount }}</td>
                <td>{{ book.discountType }}</td> #}
                {# <td>{{ book.description }}</td> #}
                {# <td>{{ book.numberOfPages }}</td> #}
               {#  <td>{{ book.ranking }}</td> #}
                <td>{{ book.ISBN10 }}</td>
                <td>{{ book.ISBN13 }}</td>
                {# <td>{{ book.ASIN }}</td>
                <td>{{ book.dimention }}</td> #}
               {#  <td>{{ book.weight }}</td> #}
                <td>{{ book.isAvailable ? 'Yes' : 'No' }}</td>
                <td>{{ book.createdAt ? book.createdAt|date('d-m-Y') : '' }}</td>
                <td>
                    <a href="{{ path('book_show', {'id': book.id}) }}">Voir</a>
                    <a href="{{ path('book_edit', {'id': book.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="21">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# <a href="{{ path('book_new') }}">Create new</a> #}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#mytable').DataTable();
        });

        $('#mytable').dataTable( {
            "searching": false,
            "lengthChange": false
        } );
    </script>
{% endblock %}