{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <h1>Book index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cover</th>
                <th>BackCover</th>
                <th>Title</th>
                <th>PublishedDate</th>
                <th>NumberOfCopies</th>
                <th>PriceHT</th>
                <th>PriceTTC</th>
                <th>DiscountAmount</th>
                <th>DiscountType</th>
                <th>Description</th>
                <th>NumberOfPages</th>
                <th>Ranking</th>
                <th>ISBN10</th>
                <th>ISBN13</th>
                <th>ASIN</th>
                <th>Dimention</th>
                <th>Weight</th>
                <th>IsAvailable</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.cover }}</td>
                <td>{{ book.backCover }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.publishedDate ? book.publishedDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ book.numberOfCopies }}</td>
                <td>{{ book.priceHT }}</td>
                <td>{{ book.priceTTC }}</td>
                <td>{{ book.discountAmount }}</td>
                <td>{{ book.discountType }}</td>
                <td>{{ book.description }}</td>
                <td>{{ book.numberOfPages }}</td>
                <td>{{ book.ranking }}</td>
                <td>{{ book.ISBN10 }}</td>
                <td>{{ book.ISBN13 }}</td>
                <td>{{ book.ASIN }}</td>
                <td>{{ book.dimention }}</td>
                <td>{{ book.weight }}</td>
                <td>{{ book.isAvailable ? 'Yes' : 'No' }}</td>
                <td>{{ book.createdAt ? book.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('book_show', {'id': book.id}) }}">show</a>
                    <a href="{{ path('book_edit', {'id': book.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="21">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('book_new') }}">Create new</a>
{% endblock %}
