{% extends 'base.html.twig' %}

{% block title %}Address index{% endblock %}

{% block body %}
    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        <a href="{{ path('main') }}"><i class="fa fa-home"></i> Home</a>
                        <a href="{{ path('dashboard') }}">Tableau de bord</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->


    <section class="checkout-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h4>Liste des Adresses</h4>
                    <div class="table-responsive">
                        <div class="toolbar">
                            <a href="{{ path('address_new') }}"><button class="btn btn-success btn-xs"><span class="fa fa-plus-circle"></span>Ajouter Adresse</button></a></td>
                        </div>
                        <table id="mytable" class="display">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Adresse</th>
                                <th>Adresse</th>
                                <th>Adresse</th>
                                <th>Code Postal</th>
                                <th>Ville</th>
                                <th>Annuler</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for address in addresses %}
                                    <tr>
                                        <td>{{ address.id }}</td>
                                        <td>{{ address.ligne1 }}</td>
                                        <td>{{ address.ligne2 }}</td>
                                        <td>{{ address.ligne3 }}</td>
                                        <td>{{ address.PostalCode }}</td>
                                        <td>{{ address.city }}</td>
                                        <td>
                                            <a href="{{ path('address_edit', {'id': address.id}) }}"
                                            ><button class="btn btn-warning btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="fa fa-edit"></span></button>

                                            </a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="7">no records found</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#mytable').DataTable();
        });

        $('#mytable').dataTable( {
            "searching": false,
            "lengthChange": false
        } );
    </script>
{% endblock %}