{% extends 'base.html.twig' %}

{% block title %}Address{% endblock %}

{% block body %}
    <h1>Address</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ address.id }}</td>
            </tr>
            <tr>
                <th>Ligne1</th>
                <td>{{ address.ligne1 }}</td>
            </tr>
            <tr>
                <th>Ligne2</th>
                <td>{{ address.ligne2 }}</td>
            </tr>
            <tr>
                <th>Ligne3</th>
                <td>{{ address.ligne3 }}</td>
            </tr>
            <tr>
                <th>PostalCode</th>
                <td>{{ address.PostalCode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ address.city }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('address_index') }}">back to list</a>

    <a href="{{ path('address_edit', {'id': address.id}) }}">edit</a>

    {{ include('address/_delete_form.html.twig') }}
{% endblock %}
